@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
  background: #E5E5E5;
  font-family: "inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 60%;
}

main{
  display: flex;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  padding-top: 30px;
  margin-left: 10px;
  width: 10%;
}

.cuadro-de-entrada{
  display: flex;
  flex-direction: column;
  width: 1000px;
  
}

#ingreso-de-texto {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  display: flex;
  margin-top: 168px;
  margin-bottom: 635px;
  margin-left: 240px;
  border-color: transparent;
  width: auto;
}

h6{
  display: flex;
  margin-bottom: 16px;
  margin-left: 240px;
  font-family: "Inter";
  text-align: left;
  opacity: 80%;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  
}

.interaccion{
  display: flex;
 width: 680px;
 margin-left: 240px;
}


button {
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
  height: 67px;
  width: 328px; 

}

.boton_encriptar {
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 24px;
  background-color: #0a3871;
  border: 1px solid #0a3871;
  color: white;
  
}

.boton_desencriptar{
  
  background-color: #D8DFE8;
  border: 1px solid #0a3871;
  color: #0a3871;
  
}

#cuadro-de-salida{

  display: flex;
  width: 400px;
  height: 944px;
  flex-wrap: wrap;
  margin: 40px 40px 40px 80px;
  background-color: #FFFFFF;
  width: 400px;
  height: 944px;
  top: 40px;
  left: 1000px;
  gap: 0px;
  border-radius: 32px;
  opacity: 0px;
 
  
  
}
.margen-de-salida{
  display: flex;

  margin-top: -1041px;
  margin-right: 40px;
}



#palabra-de-salida {
  box-sizing: border-box;
  width: 336px;
  background-color: transparent;
  
}
.boton_copiar{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid #0a3871;
  color: #0a3871;
}

.redes-sociales {
  font-size: 24px;
  margin-bottom: 10px;
}
.redes-sociales a {
  margin-right: 10px;
  color: #000;
  text-decoration: none;
}

.redes-sociales a:hover {
  color: #888;
}


footer {
  margin-top: 15px;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width:480px) {
}
